.bgHome{
    background: url("../img/startpg.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .bgRooms{
    background: url("../img/startpg.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  

  .branding{
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 50px;
    
  }
  .error{
    color: red;
}
.roomtype{
  text-align: center;
}
.buttoncard{
  background: #387ef5;
}