<ion-view view-title="Information">
        <ion-content class="padding">
      <br>
          <div class="list">
      
            <div class="item item-divider">
              Allmän information
            </div>
            <div class="item item-body ion-ios-telephone-outline" type="tel">
                08-123 456
            </div>
            <div class="item ion-ios-home" type="tel">
                    Storgatan 47
                </div>
      
          </div>
      
        </ion-content>
      </ion-view>