<ion-view view-title="Information">
        <ion-content class="bgRooms padding">
      <br>
          <ul class="list">
            <li class="item item-divider">
              Allmän information
            </li>
            <li class="item item-body ion-ios-telephone-outline" type="tel">
                08-123 456
            </li>
            <li class="item ion-ios-home" type="tel">
                    Storgatan 47, Stockholm
            </li>
                <li class="item ion-email" type="tel">
                        info@sthlmbnb.se
                </li>
                </ul>
        </ion-content>
      </ion-view>