<ion-view view-title="All Rooms" >
    <ion-content class="bgRooms">

        
            <div ng-repeat="room in rooms">
        <div class="list card">
                    
                    <div  class="item item-avatar
                    ">
                        <img src="{{room.image}}">
                        <h2>{{room.name}}</h2>
                        <p>{{room.about}}</p>
                    </div>
                    <div class="item item-image">
                        <img src="{{room.image}}">
                    </div>
                    <div class="card buttoncard">
                        <a href="#/tab/rooms/{{room.id}}" type="button" 
                        class="button button-block button-positive">{{room.price}}kr/night</a>
                    </div>   
                    
                </div>             
            </div>
            
    </ion-content>
</ion-view>